In [14]:
from qdrant_client import QdrantClient
client = QdrantClient(host="localhost", port=6333)

In [15]:
import pandas as pd
import numpy as np

fruits = ["apple", "banana", "cherry", "grape", "orange", "pineapple", "kiwi", "mango"]
df = pd.DataFrame({"name": fruits})

df['embedding'] = df['name'].apply(lambda x:np.random.rand(4).tolist())

In [16]:
df

        name                                          embedding
0      apple  [0.8966700914619465, 0.2417949951775452, 0.000...
1     banana  [0.4647854943480131, 0.7625755114338449, 0.248...
2     cherry  [0.37395004403848375, 0.2991189957390683, 0.26...
3      grape  [0.5863408472234448, 0.05552735585759949, 0.99...
4     orange  [0.9312167387480496, 0.9441938021502403, 0.024...
5  pineapple  [0.665638375427115, 0.40504384152019335, 0.629...
6       kiwi  [0.5048362458365612, 0.43448855845071277, 0.61...
7      mango  [0.6746339018833556, 0.5233571043988512, 0.304...

In [17]:
client.recreate_collection(
    collection_name="fruit_vectors",
    vectors_config={"size": 4, "distance": "Cosine"}
)

/tmp/ipykernel_37462/968325640.py:1: DeprecationWarning: `recreate_collection` method is deprecated and will be removed in the future. Use `collection_exists` to check collection existence and `create_collection` instead.
  client.recreate_collection(

True

In [18]:
client.upload_collection(
    collection_name="fruit_vectors",
    vectors=df["embedding"].tolist(),
    payload=df.to_dict(orient="records"),
    ids=list(range(len(df)))
)

In [20]:
query_vector = np.random.rand(4).tolist()  # simulate a user query
results = client.search(
    collection_name="fruit_vectors",
    query_vector=query_vector,
)

for r in results:
    print(f"Name: {r.payload['name']} | Score: {r.score:.4f}")

/tmp/ipykernel_37462/3373541917.py:2: DeprecationWarning: `search` method is deprecated and will be removed in the future. Use `query_points` instead.
  results = client.search(

Name: kiwi | Score: 0.9963
Name: pineapple | Score: 0.9414
Name: cherry | Score: 0.9200
Name: mango | Score: 0.9125
Name: grape | Score: 0.8427
Name: banana | Score: 0.8356
Name: orange | Score: 0.8035
Name: apple | Score: 0.7171